/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* 내가 작성한 css */
.changePink {
  background-color: pink;
}
.text-white {
  color: white;
}
li {
  list-style: none;
  margin-right: 3%;
}
img {
  width: 500px;
  height: 750px;

  margin-top: 15%;
}
.main {
  display: flex;
  flex-direction: row;
  padding: 0;
  /* header의 navbar가 초과 된 이미지 크기를 맞추지 못함 */
  /* 초과된 이미지 만큼의 스크롤 생성하여 ul tag안에 이미지 다 들어가게 함 */
  overflow-x: auto; /* 수평 스크롤 허용 */
}

.movieName {
  font-size: large;
  font-weight: bold;
}
.loginContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 800px;
  align-items: center;
}
.loginBtn {
  display: block;
  margin-top: 30px;
  width: 160px;
  height: 60px;
  margin-right: 15px;

  font-size: large;
}
.loginBlank {
  width: 600px;
  height: 50px;
}
.loginHeader {
  display: flex;
  justify-content: flex-end;
}
.isLoginHeader {
  display: flex;
}
.searchHeader {
  display: flex;
  justify-content: center;

  margin: 20px;
}
.searchBlank {
  width: 500px;
  height: 50px;
}
.searchBtn {
  width: 100px;
  height: 50px;
  margin-left: 10px;
}
.mypageHeader {
  display: flex;
  justify-content: flex-end;
}
.mypageMovies {
  display: flex;
  flex-wrap: wrap;
}
.searchMovies {
  display: flex;
  flex-wrap: wrap;
}
.categoryPage {
  display: flex;
  flex-wrap: wrap;
}
/* header의 navbar가 초과 된 이미지 크기를 맞추지 못함
이미지를 li tag 크기만큼으로 맞추는 방법 */
/* li > img {
  width: 100%;
} */
/* 버튼 */
.w-btn-gray-outline {
  border: 3px solid #a3a1a1;
  color: #6e6e6e;
}
.w-btn-outline {
  position: relative;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}
.w-btn-outline:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.w-btn-outline:active {
  transform: scale(1.5);
}
.w-btn-gray-outline:hover {
  background-color: #a3a1a1;
  color: #e3dede;
}
